/* Make background */
/*html { 
	background: url("../img/background_blurred.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/

/* Reset white background from bootstrap */
/*body {
	background-color: transparent; 
}*/

.timeslidercontainer {
	padding:60px 40px 40px 40px;	
}

.active-partner {
	display: block;
}

.inactive-partner {
	display: none;
}

/* for adjusting the progress bar according to the pips */
.progress {
	/*padding: -10px 0px 0px 0px;*/
	height: 15px;
}